<h1><%= t "signup.p1" %> </h1>
<%= link_to t("static_pages.array_language.lgeng"), locale: Settings.en  %>
<%= link_to t("static_pages.array_language.lgvn"), locale: Settings.vn %>
<br>
<p> <%= t "signup.p2" %></p>
